*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/

app/src/androidTest/java/com/brandonhimes/whattocook/ExampleInstrumentedTest\.kt

app/src/test/java/com/brandonhimes/whattocook/ExampleUnitTest\.kt
